<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include head-custom.html %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="wrapper">

      <header>

        {% if site.logo %}
              <img class="round_logo" src="{{site.logo | relative_url}}" alt="Logo" /> 
        {% endif %}

        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="list-inline" id="sidebar-buttons">
          <li>
            <a href="mailto:{{ site.author.email }}" class="btn-social btn-outline" title="Contact me by e-mail">
              <i class="fa fa-lg fa-envelope-square"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.author.github }}" target="_blank" class="btn-social btn-outline" title="Visit my GitHub">
              <i class="fa fa-lg fa-github"></i>
            </a>
          </li>
          <li>
            <a href="{{ site.author.linkedin}}" target="_blank" class="btn-social btn-outline" title="Find me on LinkedIn">
              <i class="fa fa-lg fa-linkedin"></i>
            </a>
          </li>
          <!-- <li>
            <a href="{{ site.author.lastfm }}" target="_blank" class="btn-social btn-outline" title="Find me on last.fm">
              <i class="fa fa-lg fa-lastfm"></i>
            </a>
          </li> -->
          <li>
            <a href="{{ site.author.orcid }}" target="_blank" class="btn-social btn-outline" title="Find me on ORCID">
              <i class="fa fa-lg fa-orcid"></i>
            </a>
          </li>
        </ul>

      </header>

      <section>

      {{ content }}

      </section>

      <footer>
        <p><small>Hosted on <a href="https://github.com/carlosccb/carlosccb.github.io">GitHub Pages</a> &mdash; Theme based on <a href="https://github.com/orderedlist/minimal">minimal</a>
        {% if page.rights %} &mdash; All rights of the content shown here are reserved.© {% endif %}
        </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
